{% extends "base.html" %}

{% block css %}
<style>
  .hidden{
    display:none;
  }
</style>
  
<!-- Daterange picker -->
<link rel="stylesheet" href="{{url_for('static', filename='admin_lte3/plugins/daterangepicker/daterangepicker.css') }}">
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            {% if add %}
            <h3 class="card-title">見積書作成</h3>
            {% elif edit %}
            <h3 class="card-title">見積書編集</h3>
            {% endif %}
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          {% if add %}
            <form id="quickForm" action="#" method="POST">
          {% endif %}
          {% if edit %}
            <form id="quickForm" action="#" method="POST">
          {% endif %}
            <div class="card-body">
              <div class="text-center">見積書</div>
                <div class="form-group row">
                  <div class="col-8"></div>
                  <label class="col-sm-1 col-form-label">日付</label>
                  <div class="input-group date col-sm-3" id="reservationdate1" data-target-input="nearest">
                  <input name="mousikomi_simekiri" type="text" class="form-control datetimepicker-input" data-target="#reservationdate1">
                  <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                </div>
                <div class="form-group row">
                  <div class="input-group date col-sm-3" id="reservationdate" data-target-input="nearest">
                    <select class="form-control">
                      <option>会社 1</option>
                      <option>会社 2</option>
                      <option>会社 3</option>
                    </select>
                  </div>
                  <label class="col-sm-1 col-form-label">御中</label>
                  <div class="col-sm-4"></div>
                  <div class="input-group date col-sm-4" id="reservationdate" data-target-input="nearest">
                    自社 <br> 〒123−4567 <br>神奈川県横浜市南区永楽町1−1−1 <br> TEL:0120-888-888
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">お見積金額</label>
                  <div class="input-group col-sm-4" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>品番・品名</th>
                      <th>個数</th>
                      <th>単価</th>
                      <th>金額</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <select name="product1" id="product1">
                          <option value="" hidden>商品を選んでください</option>
                          {% for product in products %}
                            <option value="{{ product['product_id'] }}">{{ product['name'] }}</option>
                          {% endfor %}
                        </select>
                      </th>
                      <td>
                        <select name="" id="product_count1" class="hidden">
                          <option value="" hidden>個数を選択してください</option>
                          {% for i in range(99) %}
                            <option value="{{i + 1}}">{{ i+1 }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_price1_tag" data-target-input="nearest">
                          <input value="" id="product_price1" name="product_price1" type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_total_price1_tag" data-target-input="nearest">
                          <input value="" id="product_total_price1" name="product_total_price1" type="text" class="form-control">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <select name="product2" id="product2">
                          <option value="" hidden>商品を選んでください</option>
                          {% for product in products %}
                            <option value="{{ product['product_id'] }}">{{ product['name'] }}</option>
                          {% endfor %}
                        </select>
                      </th>
                      <td>
                        <select name="" id="product_count2" class="hidden">
                          <option value="" hidden>個数を選択してください</option>
                          {% for i in range(99) %}
                            <option value="{{i + 1}}">{{ i+1 }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_price2_tag" data-target-input="nearest">
                          <input value="" id="product_price2" name="product_price2" type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_total_price2_tag" data-target-input="nearest">
                          <input value="" id="product_total_price2" name="product_total_price2" type="text" class="form-control">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <select name="product3" id="product3">
                          <option value="" hidden>商品を選んでください</option>
                          {% for product in products %}
                            <option value="{{ product['product_id'] }}">{{ product['name'] }}</option>
                          {% endfor %}
                        </select>
                      </th>
                      <td>
                        <select name="" id="product_count3" class="hidden">
                          <option value="" hidden>個数を選択してください</option>
                          {% for i in range(99) %}
                            <option value="{{i + 1}}">{{ i+1 }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_price3_tag" data-target-input="nearest">
                          <input value="" id="product_price3" name="product_price3" type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_total_price3_tag" data-target-input="nearest">
                          <input value="" id="product_total_price3" name="product_total_price3" type="text" class="form-control">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <select name="product4" id="product4">
                          <option value="" hidden>商品を選んでください</option>
                          {% for product in products %}
                            <option value="{{ product['product_id'] }}">{{ product['name'] }}</option>
                          {% endfor %}
                        </select>
                      </th>
                      <td>
                        <select name="" id="product_count4" class="hidden">
                          <option value="" hidden>個数を選択してください</option>
                          {% for i in range(99) %}
                            <option value="{{i + 1}}">{{ i+1 }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_price4_tag" data-target-input="nearest">
                          <input value="" id="product_price4" name="product_price4" type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_total_price4_tag" data-target-input="nearest">
                          <input value="" id="product_total_price4" name="product_total_price4" type="text" class="form-control">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <select name="product5" id="product5">
                          <option value="" hidden>商品を選んでください</option>
                          {% for product in products %}
                            <option value="{{ product['product_id'] }}">{{ product['name'] }}</option>
                          {% endfor %}
                        </select>
                      </th>
                      <td>
                        <select name="" id="product_count5" class="hidden">
                          <option value="" hidden>個数を選択してください</option>
                          {% for i in range(99) %}
                            <option value="{{i + 1}}">{{ i+1 }}</option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_price5_tag" data-target-input="nearest">
                          <input value="" id="product_price5" name="product_price5" type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="col-sm-8 hidden" id="product_total_price5_tag" data-target-input="nearest">
                          <input value="" id="product_total_price5" name="product_total_price5" type="text" class="form-control">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-group row pt-1">
                  <div class="col-7"></div>
                  <label class="col-sm-2 col-form-label">小計</label>
                  <div class="input-group col-sm-3" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-7"></div>
                  <label class="col-sm-2 col-form-label">消費税</label>
                  <div class="input-group col-sm-3" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-7"></div>
                  <label class="col-sm-2 col-form-label">合計金額</label>
                  <div class="input-group col-sm-3" id="reservationdate" data-target-input="nearest">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="card-body">
                  <label>備考</label>
                  <textarea class="form-control" rows="3" ></textarea>
                </div>
              </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">登録</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
        </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{% endblock %}


{% block script %}
<!-- daterangepicker -->
<script src="{{url_for('static', filename='admin_lte3/plugins/moment/moment.min.js') }}"></script>
<script src="{{url_for('static', filename='admin_lte3/plugins/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{url_for('static', filename='admin_lte3/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{url_for('static', filename='admin_lte3/dist/js/pages/dashboard.js') }}"></script>z
<script src="{{url_for('static', filename='admin_lte3/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js') }}"></script>
<!-- dropzonejs -->
<script src="{{url_for('static', filename='admin_lte3/plugins/dropzone/min/dropzone.min.js') }}"></script>

<script>
  $('#reservationdate1').datetimepicker({
    locale: 'ja',
    format: 'YYYY/MM/DD'
  });

  var prrice_list = []

  $('#product1').change(function(){
    $('#product_count1').removeClass("hidden")
    $('#product_price1_tag').removeClass("hidden")
    $.ajax({
      data:{
        product_id:$('#product1').val()
      },
      type:'POST',
      url:'/quotation/get_price'
    }).done( (data) => {
      $('#product_price1').val(data[0])
    })
    // Ajaxリクエストが失敗した時発動
    .fail( (data) => {
      console.log("erorr");
      console.log(data);
    })
  })
  $('#product_count1').change(function(){
    $('#product_total_price1_tag').removeClass("hidden")
    var total_price = $(this).val() * $('#product_price1').val()
    $('#product_total_price1').val(total_price)
  })


  $('#product2').change(function(){
    $('#product_count2').removeClass("hidden")
    $('#product_price2_tag').removeClass("hidden")
    $.ajax({
      data:{
        product_id:$('#product2').val()
      },
      type:'POST',
      url:'/quotation/get_price'
    }).done( (data) => {
      $('#product_price2').val(data[0])
    })
    // Ajaxリクエストが失敗した時発動
    .fail( (data) => {
      console.log("erorr");
      console.log(data);
    })
  })
  $('#product_count2').change(function(){
    $('#product_total_price2_tag').removeClass("hidden")
    var total_price = $(this).val() * $('#product_price2').val()
    $('#product_total_price2').val(total_price)
  })


  $('#product3').change(function(){
    $('#product_count3').removeClass("hidden")
    $('#product_price3_tag').removeClass("hidden")
    $.ajax({
      data:{
        product_id:$('#product3').val()
      },
      type:'POST',
      url:'/quotation/get_price'
    }).done( (data) => {
      $('#product_price3').val(data[0])
    })
    // Ajaxリクエストが失敗した時発動
    .fail( (data) => {
      console.log("erorr");
      console.log(data);
    })
  })
  $('#product_count3').change(function(){
    $('#product_total_price3_tag').removeClass("hidden")
    var total_price = $(this).val() * $('#product_price3').val()
    $('#product_total_price3').val(total_price)
  })


  $('#product4').change(function(){
    $('#product_count4').removeClass("hidden")
    $('#product_price4_tag').removeClass("hidden")
    $.ajax({
      data:{
        product_id:$('#product4').val()
      },
      type:'POST',
      url:'/quotation/get_price'
    }).done( (data) => {
      $('#product_price4').val(data[0])
    })
    // Ajaxリクエストが失敗した時発動
    .fail( (data) => {
      console.log("erorr");
      console.log(data);
    })
  })
  $('#product_count4').change(function(){
    $('#product_total_price4_tag').removeClass("hidden")
    var total_price = $(this).val() * $('#product_price4').val()
    $('#product_total_price4').val(total_price)
  })


  $('#product5').change(function(){
    $('#product_count5').removeClass("hidden")
    $('#product_price5_tag').removeClass("hidden")
    $.ajax({
      data:{
        product_id:$('#product5').val()
      },
      type:'POST',
      url:'/quotation/get_price'
    }).done( (data) => {
      $('#product_price5').val(data[0])
    })
    // Ajaxリクエストが失敗した時発動
    .fail( (data) => {
      console.log("erorr");
      console.log(data);
    })
  })
  $('#product_count5').change(function(){
    $('#product_total_price5_tag').removeClass("hidden")
    var total_price = $(this).val() * $('#product_price5').val()
    $('#product_total_price5').val(total_price)
  })



</script>
{% endblock %}