<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login/login.css') }}">
  </head>
    <body class="hold-transition login-page">
    <div class="wrapper">
      <div class="container">
        <h1>Welcome</h1>
        {%  with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
        {% for message in messages %}
        <h6 class="error_messege"> {{message}}</h6>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form" method="POST" action="{{url_for('main_route.login_check')}}">
          <input type="text" placeholder="UserEmail" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
          <button type="submit" id="login-button">Login</button>
        </form>
      </div>
      
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script>
      $("#login-button").click(function(event){
        event.preventDefault();
        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
    });
    </script>
  </body>
</html>