{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            {% if add %}
            <h3 class="card-title">商品追加画面</h3>
            {% elif edit %}
            <h3 class="card-title">商品編集画面</h3>
            {% endif %}
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          {% if add %}
            <form id="quickForm" action="{{url_for('product_route.create_product_complete')}}" method="POST">
          {% endif %}
          {% if edit %}
            <form id="quickForm" action="#" method="POST">
          {% endif %}
            <div class="card-body">
              <div class="form-group">
                <label for="name">商品名</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="商品名" {% if not add %} value="{{this_company['name']}} " {% endif %}>　
              </div>
              <div class="form-group">
                <label for="cost_price">仕入値</label>
                <input type="text" name="cost_price" class="form-control" id="cost_price" placeholder="仕入値" {% if not add %}value="{{this_company['zip']}} " {% endif %}>
              </div>
              <div class="form-group">
                <label for="selling_price">売値</label>
                <input type="text" name="selling_price" class="form-control" id="selling_price" placeholder="売値" {% if not add %}value="{{this_company['selling_price']}} " {% endif %}>
              </div>
              <div class="form-group">
                <label for="supplier">仕入先</label>
                <select name="supplier" class="custom-select rounded-0" id="supplier">
                  <option hidden value="">取引先を選択してください</option>
                  {% for supplier in suppliers %}
                  <option value="{{supplier['supplier_id']}}">{{supplier['name']}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">登録</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
        </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{% endblock %}


{% block script %}
<script src="{{url_for('static', filename='admin_lte3/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script>
  // $(function () {
    
    
    
  // //   $.validator.addMethod('supplier',
  // //   function(value, element) {
  // //     return this.optional(element) || /^\d{11}$|^\d{3}-\d{4}-\d{4}$/.test(value);
  // //   },
  // //   '入力された電話番号が不正です。'
  // //   );

  // //   $.validator.addMethod("zip", function(value, element) {
  // // return this.optional( element ) || /^\d{3}-?\d{4}$/.test( value );
  // // }, '入力された郵便番号が不正です。');

  //   $('#quickForm').validate({
  //     rules: {
  //       name: {
  //         required: true,
  //       },
  //       cost_price: {
  //         required: true,
  //         cost_price: true
  //       },
  //       selling_price: {
  //         required: true,
  //       },
  //       supplier: {
  //         required: true,
  //         supplier: true
  //       },
  //       email: {
  //         required: true,
  //         email: true,
  //       }
  //     },
  //     messages: {
  //       name: {
  //         required: "会社名を入力してください",
  //       },cost_price: {
  //         required: "郵便番号を入力してください",
  //       },selling_price: {
  //         required: "住所を入力してください",
  //       },supplier: {
  //         required: "電話番号を入力してください"
  //       },
  //       email: {
  //         required: "メールアドレスを入力してください",
  //         email: "入力されたメールアドレスが不正です。"
  //       },
  //       terms: "Please accept our terms"
  //     },
  //     errorElement: 'span',
  //     errorPlacement: function (error, element) {
  //       error.addClass('invalid-feedback');
  //       element.closest('.form-group').append(error);
  //     },
  //     highlight: function (element, errorClass, validClass) {
  //       $(element).addClass('is-invalid');
  //     },
  //     unhighlight: function (element, errorClass, validClass) {
  //       $(element).removeClass('is-invalid');
  //     }
  //   });
  // });
  </script>
{% endblock %}